
body{
    background-image: url(bilder/table1.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.grid-item1{
    width:100vw;
    height:140px;
    position: fixed;
    grid-area: nav;
    background-color: rgb(26, 25, 25);
    align-items: center;
    text-align: center;
    z-index: 999;
}


/*Nav styling*/

.nav-toggle {
    display:none;
}

.nav-toggle-label{
    position:absolute;
    top:0;
    right:0;
    margin-right: 1em;
    height: 100%;
    display:flex;
    align-items: center;
}

.nav-toggle-label span, 
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height:2px;
    width:2em;
    border-radius: 2px;
    position:relative;

}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom:7px;
}

.nav-toggle-label span::after{
    top:7px;
}

nav{
    position: absolute;
    text-align: right;
    top: 100%;
    background-color: rgb(26, 25, 25);
    width:100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    padding: 0;
    margin:0;
    list-style:none;
}

nav li{
    margin-bottom:1em;
    margin-right:1em;

}

nav a {
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Capriola';
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.logocontainer{
    width: 222.6px;
    height: 100%;
    
    margin-left: 5rem;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.logocontainer img{  
    width: 100%;
  }

nav a:hover {
    color: rgb(255, 255, 255);
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity:1;
    transition: opacity 250ms ease-in-out 250ms; 
}

@media screen and (min-width:900px) {
    .nav-toggle-label{
        display:none;
    }
    .grid-item1{
        display:grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        width:100vw;
        height:140px;
    }

    .logocontainer{
        min-width: 222.6px;
        min-height: 87.7px;
        grid-column: 1/3;
        height:60%;
        margin-left: 5rem;
        display:flex;
        align-items: center;
    }

    .logocontainer img{  
      width: 100%;
    }
   
    nav {
        all:unset;
        grid-column: 3/5;
        margin-right:5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav a{
        opacity: 1;
        position: relative;
    }

    nav ul{
        display: flex;
    }

    nav li{
        margin-left: 2em;
        margin-bottom: 0;
    }

    nav a::before{
        content: '';
        display:block;
        height: 5px;
        background: rgb(255, 255, 255);
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }

}

/*End of nav styling*/

/*--------Startpage styling--------*/
.grid-container1{
    display: grid;
    height: 160vh;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1.5fr repeat(11,1fr);
    background-image: url(bilder/cover\ 1.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.resturanttext{
    background-color: rgba(0, 0, 0, 0.578);
    grid-column: 4/10;
    grid-row:3/5;
    text-align: center;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
/*---text styling*/
.resturanttext h1{
    position:absolute;
    color: aliceblue;
    font-family: 'DM Serif Display';
    letter-spacing: 4px;
    font-size: 54px;
}
.resturanttext h2{
    position:absolute;
    color: aliceblue;
    top:2.5em;
    font-family: 'DM Serif Display';
    letter-spacing: 12px; 
    font-size: 28px;
}
.resturanttext h3{
    position:absolute;
    color: aliceblue;
    top:4.5em;
    font-family: 'DM Serif Display';
    letter-spacing: 12px; 
    font-size: 24px;
}

.woltlogo{
    max-width: 6%;
    align-self: flex-end;
    margin-bottom: 1em;
    
}

.foodoralogo{
    max-width: 6%;
    align-self: flex-end;
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 17px;
}
/*---text styling---*/
.menubutton{
    background-color: rgba(255, 255, 0, 0);
    grid-column: 6/8;
    grid-row:5/7;
    display:flex;
    align-items: center;
    justify-content: center;
}

.buttoncontainer{
    width:80%;
    height: 40%;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgba(88, 88, 87, 0.534);
    display:flex;
    align-items: center;
    justify-content: center;

}

.buttoncontainer p{
    color:rgb(255, 255, 255);
    font-size: 36px;
    font-family: 'DM Serif Display';
}

.buttoncontainer p:hover{
    font-size: 64px;
    transition: 450ms ease-in-out;
}

.dagenslunch{
    background-color: rgba(255, 255, 255, 0.684);
    grid-column: 4/10;
    grid-row: 7/10;
    text-align: center;
}

.dagenslunch p{
    font-size: 20px;
    font-family: 'DM Serif Display';
    
}

.dl-text{
    font-family: 'DM Serif Display';
    
}

.dl-text::after
{
    content:' ';
    display:block;
    border:1px solid rgb(0, 0, 0);
    width: 80%;
    margin-left:10%;
}

.dagenspris{
    background-color: rgba(240, 255, 255, 0);
    grid-column: 8/10;
    grid-row:8/10;
    display:flex;
    justify-content: flex-end;
    align-items: end;
}

.dagenscontainer{
    width:50%;
    height:40%;
    background-color: #1d1379;
    border:3px solid rgb(255, 255, 255);
    transform: rotate(-30deg);
    text-align: center;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.dagenscontainer h1{
    font-family: 'DM Serif Display';
    font-size: 36px;
}

.footer{
    background-color: rgb(26, 25, 25);
    grid-column: 1/13;
    grid-row: 12/13;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:900px){ 
    .grid-container1{
        width:100%;
        height:100vh;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-rows: 1.5fr repeat(12,1fr);
        grid-gap:10px;
    }

    .resturanttext{
        grid-column:1/2;
        grid-row: 3/5;
        font-size: small;
    }

    .resturanttext h1{
        font-size: 32px;
    }

    .resturanttext h2{
        display: none;
    }
    .resturanttext h3{
        display: none;
    }


    .menubutton{
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .dagenslunch{
        grid-column:1/2;
        grid-row:7/10;
    }

    .dagenspris{
        grid-column:1/2;
        grid-row: 10/12;
        justify-content: center;
        align-items: center;
        
    }

    .dagenscontainer{
        transform: rotate(0);
    }

    .footer{
        grid-column: 1/2;
        grid-row: 12/14;
    }
}
/*--------Startpage styling END--------*/
/*CSS FOR INDEX2 AKA KONAKT PAGE*/

.contact-grid-container{
    display:grid;
    height:160vh;
    width:100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1.5fr repeat(11,1fr);
}

.titlebox1{
    grid-column: 7/12;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Serif Display';
    color: rgb(255, 255, 255);
}

.undertitlebox{
    
    grid-column:2/5;
    grid-row: 4/5;
}

.titlebox2{
    grid-column: 2/5;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Serif Display';
    text-align: center;
    color: white;
}
.undertitlebox{
    background-color: rgba(255, 255, 255, 0.788);
    grid-column:2/5;
    grid-row: 4/5;
    position: relative;
    text-align: start;
}

.undertitlebox h1{
    position: absolute;
    color:rgb(0, 0, 0);
    margin-left:10px;
    bottom:0px;
    font-family: 'DM Serif Display';
}

.undertitlebox h1::after
{
    content:' ';
    display:block;
    border:2px solid rgb(59, 97, 219);
    border-radius: 5px;
    width: 110%;
}

.contactform-container {
    background-color: rgba(255, 255, 255, 0.788);
    grid-column: 2/5;
    grid-row: 5/10;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.contactformbox {
    width:95%;
    height:95%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

/*---FORM STYLING---*/

input[type=text], input[type=email], input[type=subject]{
  width:90%;
  height:50px;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 40px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: large;
}

textarea {
  width:90%;
  height:70px;
  padding: 12px;
  box-sizing: border-box;
  resize: vertical;
  border-radius: 5px;
  margin-bottom: 40px;
  border: 2px solid black;
}

input[type=submit] {
  background-color: #e6e9eb;
  color: black;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: larger;
  border: 2px solid black;
}

input[type=submit]:hover {
  background-color: black;
  color:#e6e9eb;
}

/*---FORM STYLING END---*/

.maps-container{
    background-color: rgb(255, 255, 255, 0.788);
    grid-column:6/11;
    grid-row:4/10;
    display:flex; 
    align-items: center;
    justify-content: flex-start;
}

.googlebox{
    height: 100%;
    width:95%;
    display:flex;
   
}

.vertical-line{
    width:3px;
    background-color: black;
    height:80%;
    margin-right: 0px;
}

.googlebox2{
    flex:1;
}

.opentimes-container{
    background-color: rgba(255, 255, 255, 0.788);
    grid-column: 11/13;
    grid-row:4/10;
    display:flex; 
    align-items: center;
    justify-content: space-around;
}

.timestextcontainer{
    height: 95%;
    width:95%;
    text-align: center;
}

.adressheader{
    color:rgb(0, 0, 0);
    font-family: 'DM Serif Display';
    font-size: 24px;
    
}
.adressheader::after
{
    content:' ';
    display:block;
    border:1px solid rgb(0, 0, 0);
    width: 50%;
    margin-left: 25%;
}

.teleheader{
    color: rgb(0, 0, 0);
    margin-top: 60%;
    font-family: 'DM Serif Display';
    font-size: 24px;
}

.teleheader::after
{
    content:' ';
    display:block;
    border:1px solid rgb(0, 0, 0);
    width: 80%;
    margin-left: 10%;
}

.timestextcontainer p{
    font-family: 'DM Serif Display';
    font-size: 20px;
}

.footer2{
    background-color: rgb(26, 25, 25);
    grid-column: 1/13;
    grid-row: 12/13;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:900px){ 
    .contact-grid-container{
        width:100%;
        height:220vh;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-rows: 1.5fr repeat(14,1fr);
        grid-gap:10px;
    }

    
    .titlebox2{
        background-color: rgba(137, 43, 226, 0);
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .undertitlebox{
        grid-column: 1/2;
        grid-row: 3/4;
    }
        
    .contactform-container {
        background-color: rgb(255, 255, 255);
        grid-column: 1/2;
        grid-row: 4/8;
    }

    .titlebox1{
        background-color: rgba(137, 43, 226, 0);
        grid-column: 1/2;
        grid-row: 8/9;
    }

    .maps-container{
        background-color: rgb(255, 255, 255);
        grid-column:1/2;
        grid-row:9/12;
    }
    .opentimes-container{
        background-color: rgb(255, 255, 255);
        grid-column: 1/2;
        grid-row:12/15;
    }

    .footer2{
        grid-column: 1/2;
        grid-row: 15/16;
    }

    .teleheader{
        color: rgb(0, 0, 0);
        margin-top: 0;
    }

    input[type=text], input[type=email], input[type=subject]{
        margin-bottom: 10px;
    }

    textarea{
        margin-bottom: 10px; 
    }

    .googlebox{
        width:100%;
    }

    .vertical-line{
       height: 0;
    }
}

/*--- MENYSIDA ---*/
.menu-gridcontainer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
    background-color: antiquewhite;
}

.foodmenucontainer{
    font-size:14px;
    font-family: 'DM Serif Display';
    
}

.menu-group-heading{
    margin:0;
    margin-top:150px;
    padding-bottom:1em;
    border-bottom:2px solid black;
}

.menu-group{
    display:grid;
    grid-template-columns: 1fr;
    gap:1.5em;
    padding: 1.5em 0;
}

.menu-item{
    display:flex;    
}

.menu-item-image{
    width:80px;
    height:80px;
    flex-shrink:0;
    object-fit:cover;
    margin-right:1.5em;
}

.menu-item-text{
    flex-grow: 1;
}

.menu-item-heading{
    display:flex;
    justify-content: space-between;
    margin:0;
}

.menu-item-name{
    margin-right: 1.5em;
    letter-spacing: 1px;
}

.menu-item-desc{
    line-height:1.6;
}

.footer4{
    position: relative;
    background-color: rgb(26, 25, 25);
    width: 100%;
    height: 121.467px;
    bottom:0;
    margin-bottom: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:900px){
    .foodmenucontainer {
        font-size:16px;
    }

    .menu-group{
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-item-image{
        width:125px;
        height:125px;
    
    }
}


/*--- MENYSIDA END ---*/

/*---OM OSS SIDA---*/
.om-oss-grid-container{
    display:grid;
    height:160vh;
    width:100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(11,1fr);
    gap:0;
}

.omosstextbox{
    background-color: rgba(128, 128, 128, 0);
    grid-column: 2/6;
    grid-row:3/7;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.omosscontainer{
    height:95%;
    width:95%;
    border:2px solid rgba(255, 255, 255, 0);
    position: relative;
}

.bioheader{
    color:white;
    font-family: 'DM Serif Display';
    margin-top:1em;
}

.bioheader::after
{
    content:' ';
    display:block;
    border:1px solid rgb(255, 255, 255);
    width: 100%;
    margin-left: 0;
}

.biodesc{
    color:white;
    font-size: 20px;
    line-height: 1.5em;
    font-family: 'DM Serif Display';
}

.fbimg{
    border: 2px solid rgba(255, 192, 203, 0);
    height: 10%;
    width: 10%;
    align-items: center;
    margin-left: 2em;
    display: flex;
    justify-content: space-around;
}

.fbimg img{
    max-width: 100%;
    height: auto;
    object-fit: fill;
}

.meetus{
    background-color: rgba(0, 0, 0, 0.753);
    width:50%;
    margin-left: 25%;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    color:white;
    font-family: 'DM Serif Display';
}

.meetus:hover{
    background-color: rgba(255, 255, 255, 0.753);
    color: black;
    border: 3px solid rgba(0, 0, 0, 0);
    transition: 300ms ease-in-out;
}

.videobox{
    background-color: rgba(0, 0, 0, 0);
    grid-column:6/12;
    grid-row: 3/7;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.videocontainer{
    border: 2px solid rgba(255, 255, 255, 0);
    height: 95%;
    width:100%;
}

.oppettiderbox{
    grid-column: 4/10;
    grid-row:7/11;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.timescontainer{
    width:95%;
    height:95%;
}
.oppettidertext{
    margin-bottom: 0;
    font-family: 'DM Serif Display';
}
.oppettidertext::after
{
    content:' ';
    display:block;
    border:1px solid rgb(255, 255, 255);
    width: 60%;
    margin-left: 20%;
}

.footer3{
    background-color: rgb(26, 25, 25);
    grid-column: 1/13;
    grid-row: 11/12;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.col1 {
    flex:1;
    text-align: left;
}

.col1 p{
    color:white;
    font-family: 'DM Serif Display';
    font-size: 16px;
    margin-left: 3em;
}

.logocol{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logocol img{
    max-width: 222.6px;
    height: 100%;
}
.col2{
    flex:1;
    text-align: right;
}

.col2 p{
    color:white;
    font-family: 'DM Serif Display';
    font-size: 16px;
    margin-right: 3em;
}

table{
    border-spacing: 5em 1em;
    display: flex;
    justify-content: center;
}
th{
    text-align: left;
    font-size: 20px;
    font-family: 'DM Serif Display';
}

td{
    text-align: right;
    font-size: 20px;
    font-family: 'DM Serif Display';
}

@media screen and (max-width:900px){ 
    .om-oss-grid-container{
        width:100%;
        height:220vh;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-rows: 1.5fr repeat(14,1fr);
        grid-gap:10px;
    }

    .omosstextbox{
        grid-column: 1/2;
        grid-row:6/8;
    }

    .videobox{
        background-color: rgba(0, 0, 0, 0);
        grid-column:1/2;
        grid-row: 2/6;
    }

    .oppettiderbox{
        background-color: rgba(240, 248, 255, 0);
        grid-column: 1/2;
        grid-row:10/14;
    }

    table{
        border-spacing: 3em 1em;
    }

    .footer3{
        grid-column: 1/2;
        grid-row: 15/16;
    }

}
/*---OM OSS SIDA END---*/
/*---MÖT VÅRAT TEAM START*/
.team-gridcontainer{
    display:grid;
    height:160vh;
    width:100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(11,1fr);
    gap:0;
}

.person1-grid-item{
    background-color: rgba(255, 255, 255, 0);
    grid-column: 2/9;
    grid-row: 3/5;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profilepic-container{
    border: 2px solid rgba(0, 0, 0, 0);
    height: 80%;
    width:20%;
    margin-left:2em;
    margin-right: 1em;
    align-self: center; 
}

.profilepic-container img{
    max-width:100%;
}
.profileinfo-container{
    width:80%;
    height: 80%;
    margin-right: 2em;
}
.profile-name{
    margin-left:1rem;
    font-family: 'DM Serif Display';
    color: white;
}


.profile-name::after
{
    content:' ';
    display:block;
    border:1px solid rgb(255, 255, 255);
    width: 80%;
    margin-top: 8px;
}
.profile-bio{
    margin-left:1rem;
    font-family: 'DM Serif Display';
    color: white;
}

.person2-grid-item{
    background-color: rgba(255, 255, 255, 0);
    grid-column:2/9;
    grid-row:6/8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.person3-grid-item{
    background-color:rgba(255, 255, 255, 0);
    grid-column:2/9;
    grid-row:9/11;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer5{
    background-color: rgb(26, 25, 25);
    grid-column: 1/13;
    grid-row: 12/13;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:900px){ 
    .om-oss-grid-container{
        width:100%;
        height:220vh;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-rows: 1.5fr repeat(14,1fr);
        grid-gap:10px;
    }

    .person1-grid-item{
        grid-column: 1/2;
        grid-row:3/6;
        align-items: flex-start;
    }

    .person2-grid-item{
        grid-column: 1/2;
        grid-row:6/8;
        align-items: flex-start;
    }

    .person3-grid-item{
        grid-column:1/2;
        grid-row:9/11;
        align-items: flex-start;
    }

    .footer5{
        grid-column: 1/2;
        grid-row:12/14;
    }
}
/*---MÖT VÅRAT TEAM END*/